.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Event Table Styles */
.event-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

.event-table th {
  background-color: #00bcd4; /* cyan-ish header */
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 1px solid white;
}

.event-table td {
  background-color: #96d4d4;
  border: 1px solid white;
  padding: 7px;
}

.event-table tr:nth-child(even) td {
  background-color: #bfecec; /* subtle alternate row color */
}

